<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add location</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="add-location">Add Location</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/add-location" method="POST">
            <input type="text" name="title">
            <button type="submit">Add Location</button>
        </form>
    </main>
</body>
</html>